html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

.navbar {
    font-size: large;
    background: lightgray;
    align-items: center;
    padding: 0 0.5rem;
    min-height: 60px;
}

.navbar-brand {
    font-size: xxx-large;
    /*display: block;*/
    padding: 10px 40px;
}

.nav {
    color: white;
    display: block;
    padding: 10px 40px;
}


/*给表单的边框设置大小,颜色和不透明度*/
.form {
    background: rgba(255,255,255,0.9);
    width:400px;margin:50px auto;
}
/*设置字体和大小*/
label {
    font-family: Arial, serif;font-size: 15px
}
/*当输入正确时,给输入框设置浅绿色*/
input.form-control:valid{
    background-color: mintcream;
}
/*当输入正确时,给输入框设置浅红色*/
input.form-control:invalid{
    background-color: #ffeeed;
}
/*设置图标为行内元素，并设置大小和颜色*/
.fa{
    display: inline-block;
    top: 27px;
    left: 6px;
    position: relative;
    color: #575757;
}
/*为几个输入框设置padding,防止和图标重合*/
input[type="text"],input[type="password"],input[type="email"]{
    padding-left:26px;
}
.form-title{
    padding-top:20px;
}
#button{
    padding-bottom: 50px;
}



.content {
    padding: 0 1rem 1rem;
}

.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

